@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-36 {
  font-size: 36px;
  ;
}

.font-24 {
  font-size: 24px;
}

.font-18 {
  font-size: 18px;
}
.border-radius-20{
  border-radius: 20px;
}
.camera{
  position: absolute;
    top: 0px;
    right: 30px;
    width: 5%;
}
.polygon{
  position: absolute;
    top: 43px;
    right: 46px;
    width: 40%;
}
.font-56{
  font-size: 56px;
}
.img-vector{
  position: absolute;
  top: 0;
}
.w-420{
  width: 420px;
}
.bg-contact{
  background-color: #0E1746;
}
.font-16{
  font-size: 16px;
}
.font-52{
  font-size: 52px;
}

.font-16 {
  font-size: 16px;
}

.padding-top-50 {
  padding-top: 50px;
}

#root {
  height: 100vh;
}

.bg-light-blue {
  background-color: rgba(13, 22, 70, 1);
}

.bg-dark-blue {
  background-color: rgba(0, 10, 60, 1);
}

.ql-snow * {
  color: white !important;
}

.ql-container {
  height: 200px !important;

}

.ql-snow .ql-stroke {
  stroke: white !important;
}

.ql-snow .ql-fill .ql-snow .ql-fill {
  stroke: white !important;
}

.ql-stroke {
  /* stroke: white; */
  fill: white;
  color: white;
}

.rdw-editor-toolbar {
  background: transparent !important;
}

.rdw-editor-main {
  background: #0D1646;
  height: 200px !important;
  color: white;
}

.rdw-option-wrapper {
  /* background-color: transparent !important; */
}

.rdw-editor-main {
  overflow: hidden !important;
  padding: 0px 10px !important;
}

.rdw-option-wrapper {
  background-color: #2a3256 !important;
  border: #2a3256 !important
}

.rdw-dropdown-wrapper {
  background-color: #2a3256 !important;
  border: #2a3256 !important;
}

.rdw-dropdown-selectedtext {
  color: white !important;
}

.rdw-editor-toolbar {
  border: none !important;
}

/* 
.text-lg{
  font-size: 20px !important;
}
.w-60{
  width: 309px !important;
}
.my-2{
  margin-top: 30px !important;
} */
.w-309 {
  width: 309px;
}

.w-265 {
  width: 265px;
}
.font-30{
  font-size:30px;
}
.font-32{
  font-size: 32px;;
}

.margin-120{
  padding-left: 120px;
  padding-right: 120px;
}
@media (max-width: 1440px) {
    .font-56{
      font-size: 44px;
    }
    .font-52{
      font-size: 40px;
    }
    .font-18{
      font-size: 12px;
    }
    .w-420{
      width: 320px;
    }
    .h-20{
      height: 4rem;
    }
    .pb-10{
      /* padding-bottom: 8px; */
    }
    .pt-10{
      /* padding-top: 8px; */
    }
}
@media (max-width: 1300px) {

  .p-20{
    padding-top: 30px;
  }
  .pb-10{
    padding-bottom: 8px;
  }
  .pt-10{
    padding-top: 8px;
  }
  .font-52{
    font-size: 30px !important;
  }
  .w-420{
    width: 250px;
  }
  .h-20{
    height: 3rem;
  }
  .font-32{
    font-size: 25px;;
  }

}

@media (max-width: 1000px) {

  .w-1\/2{
    width: 100%;
  }
  .p-24{
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .pr-0{
    padding-right: 50px;
  }
  /* .py-2{
    padding-bottom: 30px;
  } */
  .btn-contact{
    padding-bottom: 50px;
  }

.font-30 {
  font-size: 30px;
}
.home-container {
  max-width: 1075px;
}
.camera{
  top: 575px;
  right: 10px;
}
.polygon{
  top: 600px;
  right: 20px;
}
.margin-120{
  padding-left: 100px;
  padding-right: 50px;
}
img{
  max-height: 450px !important;
}
.font-18{
  font-size: 18px;
}

}


@media (max-width: 600px) {

 
.margin-120{
  padding-left: 30px;
  padding-right: 30px;
}
.font-18{
  font-size: 12px;
}

}
@media (max-width: 450px) {

  .w-420{
    width: 150px;
  }
  .font-52 {
    font-size: 15px !important;
  }
  .font-18{
    font-size: 8px !important;
  }
  .p-20{
    padding: 10px;
  }
  .font-32{
    font-size: 20px !important;
  }
  .p-24{
    padding: 15px;
  }
  
}