@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: 'Inter' ; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100vh;
}

.bg-light-blue {
  background-color: rgba(13, 22, 70, 1);
}

.bg-dark-blue {
  background-color: rgba(0, 10, 60, 1);
}
.ql-snow * {
  color: white !important; 
}
.ql-container {
  height: 200px !important;
  
}
.ql-snow .ql-stroke {
  stroke: white !important;
}
.ql-snow .ql-fill
.ql-snow .ql-fill{
  stroke: white !important;
}
.ql-stroke {
  /* stroke: white; */
  fill: white;
  color: white;
}

.rdw-editor-toolbar{
  background: transparent !important;
}
.rdw-editor-main {
  background: #0D1646;
  height: 200px !important;
  color: white;
}
.rdw-option-wrapper {
  /* background-color: transparent !important; */
}
.rdw-editor-main{
  overflow: hidden !important;
  padding: 0px 10px !important;
}
.rdw-option-wrapper{
  background-color: #2a3256 !important;
  border:#2a3256 !important
}
.rdw-dropdown-wrapper{
  background-color: #2a3256 !important;
  border:#2a3256 !important;
}
.rdw-dropdown-selectedtext{
  color: white !important;
}

.rdw-editor-toolbar{
  border: none !important;
}